@import '~antd/dist/antd.css';
.logo {
  float: left;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  white-space: nowrap;
  text-decoration: none;
}
.content-area {
  background-color: '#fff';
  padding: 15px;
  min-height: 500px;
  max-width: 940px;
  margin: 0 auto;
}
.search-area {
  padding: 15px;
  margin-top: 20px;
}
.register-area{
  padding: 15px;
  margin: 20px;
}